<p id="notice"><%= notice %></p>

<h1>Sale Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bid</th>
      <th>Size</th>
      <th>Diet</th>
      <th>Description</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sale_posts.each do |sale_post| %>
      <tr>
        <td><%= sale_post.name %></td>
        <td><%= sale_post.bid %></td>
        <td><%= sale_post.size %></td>
        <td><%= sale_post.diet %></td>
        <td><%= sale_post.description %></td>
        <td><%= sale_post.duration %></td>
        <td><%= link_to 'Show', sale_post %></td>
        <td><%= link_to 'Edit', edit_sale_post_path(sale_post) %></td>
        <td><%= link_to 'Destroy', sale_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale Post', new_sale_post_path %>
